doctype html
html
  head
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(ng-app='myApp', ng-controller='myCtrl')
    .row
      .col.s2
      .col.s8
        h4.center(style='color:#2ca7c9;') Edit Contact
        hr
        form(method='POST', action='editme')
          .row
            .input-field.col.s6
              i.material-icons.prefix account_circle
              input#first_name.validate(type='text', name='fname', value= first)
              label(for='first_name') First Name
            .input-field.col.s6
              i.material-icons.prefix account_circle
              input#last_name.validate(type='text', name='lname', value=last)
              label(for='last_name') Last Name
          .row
            .input-field.col.s12
              i.material-icons.prefix phone
              input#mobile.validate(type='text', name='mobile', value=mobile)
              label(for='mobile') Mobile No
          .row
            .input-field.col.s12
              i.material-icons.prefix email
              input#email.validate(type='email', name='email', value=email)
              label(for='email') Email
          .row
            .input-field.col.s12
              i.material-icons.prefix add_location
              textarea#address.materialize-textarea(name='address', placeholder= addr)
              label(for='address') Address
          .center
            button.btn.waves-effect.waves-light.red.darken-1(type='reset', name='action') Reset
            button.btn.waves-effect.waves-light(type='submit', name='action', style='margin-left:10px;') Update
      .col.s2
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
    script.
      var app = angular.module("myApp",[]);
      app.controller("myCtrl",function($scope,myService) {
      myService.ajaxCallMe('http://localhost:3000/user.json').then(success,error);
      function success(response){
      $scope.contact = response.data;
      };
      function error(response){z
      console.log("Error",response);
      };
      });
      app.service("myService",function($http) {
      this.ajaxCallMe=function(dataUrl){
      return $http({
      method:'GET',
      url:dataUrl
      });
      };
      });
