doctype html
html
  head
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='#', style='margin-left:20px;') Node Contact App
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='loginpage') Login
          li
            a(href='#') Aboutus
          li
            a(href='#') Contact us
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
